h1 {
  text-decoration: underline;
}

table,
th,
td {
  border: 1px solid black;
  padding: 10px;
}
table {
  background-color: aqua;
}
td {
  background-color: bisque;
}
th {
  background-color: blueviolet;
}
.indexBackgroud {
  background-color: antiquewhite;
}
.formBackground {
  background-color: rgb(74, 18, 111);
}
.textAlign {
  text-align: center;
}
.g {
  color: brown;
  font-size: 50px;
}
.o {
  color: blue;
  font-size: 50px;
}
.l {
  color: rgb(0, 255, 60);
  font-size: 50px;
}
.e {
  color: rgb(255, 0, 0);
  font-size: 50px;
}
.container {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
